<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>Download</title>
</head>
<body>
    <div class="container">
        <div class="maincontent">
            <form action="/watch" method="post" id="urlForm">
                <input type="link" name="url" id="url" placeholder="Enter Youtube URL" class="input-box">
                <button type="submit" class="submit-button">Search</button>
            </form>
            <div class="download-features">
                <img src="https://i.ytimg.com/vi/Pw-0pbY9JeU/hq720.jpg?sqp=-oaymwEXCNUGEOADIAQqCwjVARCqCBh4INgESFo&rs=AOn4CLAuYj4sZRjcYkQVCHNt6Q8DQq2TqA" alt="Video Thumbnail">
                <div class="video-details">
                    <h2>Video Title</h2>
                    <p>Video author</p>
                    <p>Views</p>
                    <p>Published Date</p>
                </div>
                <form action="/download">
                    <div class="media-format-toggle">
                        <input id="on" name="state-d" type="radio" checked="" />
                        <label for="on" onclick="">MP3</label>
                      
                        <input id="na" name="state-d" type="radio" checked="checked" />
                        <label for="na" class="disabled" onclick="">MP4</label>
                      
                        <input id="off" name="state-d" type="radio" />
                        <label for="off" onclick="">WM3</label>
                      </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>