body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: red;
}

.maincontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    padding-top: 5vh;
    width: 70%;
    background-color: #f1f1f1;
    gap: 40px;
}
.maincont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f1f1f1;
}

.youtube-downloader{
    border-radius: 12px;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    border: solid 1px black;
    grid-template-columns: 1fr 3fr 1fr;    
}
h1{
    color: #282828;
    font-size: 48px;
    margin-bottom: 20px;
}

.input-box{
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit-button{
    width: 100px;
    height: 40px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



.download-features{
    display: flex;
    align-items: center;
    gap: 20px;
}
img{
    border-radius: 12px;
    border: solid 1px black;
    width: 50%;
}


.media-format-toggle {
    display: inline-block;
    background: white;
    border: solid 1px black;
    margin: 10px 30px;
    font-size: 40px;
}

.media-format-toggle input {
    position: absolute;
    opacity: 0;
}

.media-format-toggle input + label {
    padding: 7px;
    color: black;
    cursor: pointer;
    display: inline-block; 
}

.media-format-toggle input:checked + label {
    background: grey;
}

.media-format-toggle input:disabled + label {
    color: #999; 
}



 .donwload{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
 }